.card {
    width: 109px;
    height: 110;
    margin: 15px 45px;
    border: 2px solid white;
    transition: 0.3s;
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}